@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <p>Esta aplicación Web de ejemplo sirve para abordar el uso de Github con Visual Studio.</p>
    <p>Con este ejemplo se relizan pruebas de integración de Visual Studio y Github</p>
</div>
